/* Contact Me Page */

#contactBody{
    background-color: #F2F2F2;
}

#contactTitle {
    color: #403866;
    font-size: 40px;
    padding-top: 65px;
    padding-bottom: 20px;
}

input, textarea, select, .input-group{
    border: 2px;
    outline: none;
    width: 50%;
}

textarea{
    border-radius: 5%;
}

#birthday{
    border-radius: 30px 0 0 30px;
}

#date{
    border-radius: 0 30px 30px 0;
}

.input-group{
    margin-left: 25% !important;
}

@media screen and (max-width: 1000px){
    input, textarea, select, .input-group{
        width: 75%;
    }

    .input-group{
        margin-left: 12.5% !important;
    }
}

@media screen and (max-width: 700px){
    input, textarea, select, .input-group{
        width: 100%;
    }

    .input-group{
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 500px){
    .rounded-pill, .input-group-text{
        padding-left: 1rem !important;
        width: 100%;
    }

    .input-group{
        margin-left: 0 !important;
    }
}