body {
    color: #000;
    display: flex !important;
    flex-direction: column !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    min-height: 100vh !important;
    min-width: 350px;
}

/* Sidebar */
.sidebar {
    background-color: #212121;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    padding-left: 40px;
    position: fixed;
    width: 250px;
}

.sidebar>a {
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 0;
    text-decoration: none;
}

#profile {
    margin-bottom: 65px;
    margin-top: 50px;
    padding-left: 8px;
}

#profile p {
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin-top: 1.5rem;
}

#profile a {
    text-decoration: none;
}

#profileimg {
    margin-bottom: 0.5rem;
}

/* Main Content */
.container-main {
    margin-left: 250px;
    line-height: 2;
    padding: 0 4.8%;
}

#mainTitle {
    font-size: 60px;
    font-weight: 300;
    padding-top: 65px;
    padding-bottom: 55px;
}

h3 {
    font-size: 25px;
}

.underlined {
    color: black;
    text-decoration: underline;
}

.underlined:hover {
    color: black;
}

#topButton {
    display: none;
}

/* Navbar */
nav {
    display: none !important;
    margin-top: 0 !important;
}

#navP {
    color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
    text-decoration: none;
    vertical-align: middle;
}

.navbar-toggler {
    margin-left: 0;
}

/* Footer */
footer {
    margin-top: auto !important;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

#ribbon {
    background-color: #5F94D9;
}

#footer_p {
    color: white;
    font-size: 18px;
}

i {
    color: white;
}


/* Contact Me Page */
#mainTitle2 {
    color: #403866;
    font-size: 40px;
    padding-top: 65px;
    padding-bottom: 20px;
}

input, textarea, select{
    border: 2px;
    outline: none;
}

textarea{
    border-radius: 5%;
}



/* Custom screen responsive sidebar */
@media screen and (max-width: 1200px) {
    .sidebar {
        display: none;
    }

    .container-main {
        margin-left: 0;
    }

    nav {
        display: block !important;
    }

    .bg-dark {
        background-color: #212121 !important;
    }
}

@media screen and (max-width: 500px) {
    #mainTitle {
        font-size: 40px;
    }
}