body {
    color: #000;
    display: flex !important;
    flex-direction: column !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    min-height: 100vh !important;
    min-width: 350px;
}

/* Navbar */
nav {
    display: inline !important;
}

/* Main Content */
/* Cards */
.jump:hover{
    bottom: 10px;
    cursor: pointer;
}

/* Footer */
footer {
    margin-top: auto !important;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
}

#footercopy{
    background-color: #B2BFA8;
}

@media screen and (max-width: 1400px){
    
}